
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* background-image: url("https://cdn.pixabay.com/photo/2016/07/31/16/24/banner-1559399_960_720.jpg"); */

button{
    
}

.button{
    display: flex;
    justify-content: center;
    margin: 6rem;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    background-size: cover;
}

.button button:hover{
    cursor: pointer;
    color: red;
}

.primary-button{
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: transparent;
    border: none;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    border: 5px solid rgb(194, 176, 77);
    text-align: center;
}

.profile-button{
    
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: transparent;
    border: none;
    margin: 2.5%;
}


